html, body {
    height: 100%;
    min-width: 320px;
}

#app {
    background: #60605F url("../../asset/image/layout/concrete.jpg") repeat;
    background-size: 64rem 32rem;
    min-height: 100%;
    position: relative;
}

.content-wrapper {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 5rem;
}

.content {
    flex-grow: 1;
}

header {
    align-items: center;
    display: flex;
    height: 6rem;
    position: relative;

    &::after {
        background: url("../../asset/image/layout/border/header.png") repeat-x;
        background-size: 32rem;
        bottom: -0.75rem;
        content: '';
        display: block;
        height: 1.5rem;
        pointer-events: none;
        position: absolute;
        left: 0;
        right: 0;
    }

    .header-logo {
        display: block;
        text-align: center;
        position: relative;
        width: 24rem;

        img {
            width: 15rem;
        }
    }
}

footer {
    background-color: #165868;
    bottom: 0;
    left: 0;
    padding-top: 0.75rem;
    position: absolute;
    right: 0;

    &::before {
        background: url("../../asset/image/layout/border/footer.png") repeat-x;
        background-size: 32rem;
        content: '';
        display: block;
        height: 4rem;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: -1.5rem;
        right: 0;
    }

    .copyright {
        color: lighten(#60605F, 20%);
        font-size: 0.75rem;
        font-weight: bold;
        padding: 0.5rem;
        text-align: center;
        text-shadow:
                1px 1px 3px rgba(0, 0, 0, 0.25),
                1px 1px 2px rgba(0, 0, 0, 0.5);

        a, a:hover, a:active, a:focus {
            text-decoration: underline;
        }
    }
}

header, footer {
    background: #165868 url("../../asset/image/layout/water.jpg") repeat;
    background-size: 64rem 16rem;
}

#swagger-ui {
    background: rgba(230,229,229,0.85);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.25),1px 1px 2px rgba(0,0,0,0.5);
    color: #404040;
    margin: 1rem;
    width: 100%;
}

